/***************************** COLORS *********************************/

/***************************** TEXT *********************************/

/***************************** FONT WEIGHT *********************************/

/***************************** BREAKPOINTS *********************************/
$tablet_width: 768px;
$desktop_width: 1024px;
$iphone4: 320px;
$iphoneX: 376px;
$mobile_landscape: 640px;
